**Import the necessary libraries:**

In [27]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, recall_score

**Load the dataset using pandas:**

In [28]:
data = pd.read_csv('android_traffic.csv', sep=';')

In [29]:
data.head()

,name,tcp_packets,dist_port_tcp,external_ips,vulume_bytes,udp_packets,tcp_urg_packet,source_app_packets,remote_app_packets,source_app_bytes,remote_app_bytes,duracion,avg_local_pkt_rate,avg_remote_pkt_rate,source_app_packets.1,dns_query_times,type
0,AntiVirus,36,6,3,3911,0,0,39,33,5100,4140,NaN,NaN,NaN,39,3,benign
1,AntiVirus,117,0,9,23514,0,0,128,107,26248,24358,NaN,NaN,NaN,128,11,benign
2,AntiVirus,196,0,6,24151,0,0,205,214,163887,24867,NaN,NaN,NaN,205,9,benign
3,AntiVirus,6,0,1,889,0,0,7,6,819,975,NaN,NaN,NaN,7,1,benign
4,AntiVirus,6,0,1,882,0,0,7,6,819,968,NaN,NaN,NaN,7,1,benign

**Drop Kolom**

In [30]:
columns_to_drop = ['duracion','avg_local_pkt_rate', 'avg_remote_pkt_rate']
data = data.drop(columns_to_drop, axis=1)

In [31]:
data.head()

,name,tcp_packets,dist_port_tcp,external_ips,vulume_bytes,udp_packets,tcp_urg_packet,source_app_packets,remote_app_packets,source_app_bytes,remote_app_bytes,source_app_packets.1,dns_query_times,type
0,AntiVirus,36,6,3,3911,0,0,39,33,5100,4140,39,3,benign
1,AntiVirus,117,0,9,23514,0,0,128,107,26248,24358,128,11,benign
2,AntiVirus,196,0,6,24151,0,0,205,214,163887,24867,205,9,benign
3,AntiVirus,6,0,1,889,0,0,7,6,819,975,7,1,benign
4,AntiVirus,6,0,1,882,0,0,7,6,819,968,7,1,benign

**Create a new DataFrame that does not have a 'type' column.**

In [32]:
X = data.drop('type', axis=1)
print(X)

           name  tcp_packets  dist_port_tcp  external_ips  vulume_bytes  \
0     AntiVirus           36              6             3          3911
1     AntiVirus          117              0             9         23514
2     AntiVirus          196              0             6         24151
3     AntiVirus            6              0             1           889
4     AntiVirus            6              0             1           882
...         ...          ...            ...           ...           ...
7840      Zsone            0              0             0             0
7841      Zsone            4              4             1           296
7842      Zsone            0              0             0             0
7843      Zsone            0              0             0             0
7844      Zsone            0              0             0             0

      udp_packets  tcp_urg_packet  source_app_packets  remote_app_packets  \
0               0               0                  39                  33
1               0               0                 128                 107
2               0               0                 205                 214
3               0               0                   7                   6
4               0               0                   7                   6
...           ...             ...                 ...                 ...
7840            0               0                   2                   2
7841            0               0                   5                   1
7842            0               0                   2                   2
7843            0               0                   2                   2
7844            0               0                   2                   2

      source_app_bytes  remote_app_bytes  source_app_packets.1  \
0                 5100              4140                    39
1                26248             24358                   128
2               163887             24867                   205
3                  819               975                     7
4                  819               968                     7
...                ...               ...                   ...
7840               257               143                     2
7841                86               382                     5
7842               257               143                     2
7843               257               143                     2
7844               257               143                     2

      dns_query_times
0                   3
1                  11
2                   9
3                   1
4                   1
...               ...
7840                2
7841                1
7842                2
7843                2
7844                2

[7845 rows x 13 columns]

In [33]:
y = data['type']
print(y)

0          benign
1          benign
2          benign
3          benign
4          benign
          ...
7840    malicious
7841    malicious
7842    malicious
7843    malicious
7844    malicious
Name: type, Length: 7845, dtype: object

**Change a string column to numeric:**

In [34]:
from sklearn.preprocessing import LabelEncoder

X = pd.get_dummies(X)
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

**Split the dataset into training and testing sets:**

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

**Train the Linear Regression model:**

In [36]:
# Misalnya, ganti model regresi linear dengan regresi logistik
model = LogisticRegression()

**Predict the test set results:**

In [37]:
# Sesuaikan model dengan data klasifikasi
model.fit(X_train, y_train)

LogisticRegression()

In [38]:
# Prediksi pada data pengujian
y_pred_class = model.predict(X_test)

In [39]:
# Menghitung metrik evaluasi
f1 = f1_score(y_test, y_pred_class)
recall = recall_score(y_test, y_pred_class)

# Tampilkan hasil evaluasi
print('F1 Score:', f1)
print('Recall Score:',recall)

F1 Score: 0.46101694915254243
Recall Score: 0.3157894736842105